    
/* Contenido General */
    
    html{
        background-color: #0f4061;
}
    h1{
        font-family: 'Secular One', sans-serif;
        text-align: center;
        color: aliceblue;
        margin-top: 10px;
}
    h2{
        font-family: 'Merriweather', serif;
        color: #683a22;
}
    h3{
        font-family:'Merriweather', serif;
        color: #0c1a49;
        font-size: larger;
        text-align: center;
}
    h4{
        font-family: 'Merriweather', serif;
        color: #9bb6ed;
        margin-left: 10px;
        font-size: large;
        text-align: left;
        padding-top: 5px;

}
    p{
        font-weight: 100px;
        color: #202731;
        text-align: justify;
        font-family: 'Roboto Slab', serif;
}

/* Contenido de Home */

    .conthome p{
        font-family: 'Roboto Slab', serif;
        font-weight: 100px;
        color: #0c2631;
        text-align: justify; 
}
    .conthome h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #ffe2d2;
        text-align: center;
}
    .conthome h1{
        font-family: 'Secular One', sans-serif;
        text-align: center;
        color: aliceblue;
}

/* Contenido de Páginas con 3 Columnas */

    .cont h3{
        margin-top: 15px;
        color: #ffffff;
}
    .cont p{
        margin: 15px;
        color: #d2d4ff;
        font-family: 'Roboto Slab', serif;
}

/* Contenido de Páginas con 2 Columnas */

    .cont a{
        color: #d2d4ff;
        text-decoration: none;
}

/* Contenido de Contactos */

    #Menuh4{
        color: #0c1a49;
}


/* Contenido de Páginas con 3 Columnas */

    .cont2col h3{
        margin-top: 15px;
        color: #ffffff;
}
    .cont2col p{
        margin: 15px;
        color: #d2d4ff;
        font-family: 'Roboto Slab', serif;
}
    .cont2col a{
        color: #d2d4ff;
}

/* Contenido de Página con Menú Lateral y Contenido */

    label{
        color: #003341;
        font-family: 'Roboto Slab', serif;
    }