
/* Formato de 2 Columnas */

    .column2{
        display: table-cell;
        padding: 10px;
        align-content: center;
        float: left;
        margin-left: 25px;
        margin-top: 25px;
        display: flex;
}
    .cont2col{
        background-color: #3b6e8b;
        float: left;
        margin-left: 15px;
        width: 75%;
}

/* Formato de Imágenes */
      
    .cont2col img{
        width: 950px;
        height: 670px;
        margin: 20px;
        margin-left: 75px;
}

/* Formato de Video */

    video{
        margin: 20px;
        margin-left: 45px;
        width: 960px;
        height: 600px;
}
